body {
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
  }

  .hero-text {
    flex: 1;
    text-align: left;
  }

  .hero-image {
    flex: 1;
  }
}